
.App {
  padding: 1%;
  text-align: center;
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #6573c3;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  .WIP-list{
    width: fill;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    .WIP-selector-button{
      color: #2c387e;
      background-color: white;
      border-color: black;
      width: fill;
      
    }
  }
  
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.WIP-list{
  width: 100px;
  height:200px
  
}
